body{
    margin: 0px;
    padding: 0px;
    background-image: url('/assets/img/back.png');
    min-height: 100%;
    height: 100%;
}

html{
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

@font-face {
    font-family: nav;
    src: url('/assets/font/nav.ttf');
}
/* @font-face { */
/* font-family: all; */
/* src: url('/assets/font/all.ttf'); */
/* } */

h1{
    font-size: 1.5em;
    font-family: nav;
    white-space: nowrap;
}

h3{
    font-size: 1em;
    font-family: all;
}

img{
    vertical-align: bottom;
}

a{
    text-decoration: none;
    color: #2971ce;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.05);
    color: #0089cc;
}

strong{
    font-family: Arial;
    font-weight: bold;
    font-size: 1em;
}

nav.base{
    width: 100%;
    min-width: 910px;
    height: 60px;
    background-image: url('/assets/img/nav.png');
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 15px black;
}

.navLink{
    text-decoration: none;
    width:100%;
}

div.all{
    display: flex;
    align-items: center;
    justify-content: center;
}
section.title{
    background-image: url('/assets/img/squairy_light.png');
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside.titleTrue{
    padding: 10px 20px 10px 20px;
    font-family: all;
    color: rgb(70,70,70);
    font-size: 1.5em;
}

article.all{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgb(200,200,200);
    /* margin-top: 20px; */
    animation-name: appear;
    animation-timing-function: ease-out;
    animation-duration: .4s;
}

article.all:hover{
    transition: ease-out 0.3s;
    box-shadow: 0px 0px 20px rgb(180,180,180);
}

nav.case{
    display: flex;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    font-family: nav;
    color: rgb(230,220,220);
    cursor: pointer;
    padding: 0 35px 0 35px;
}
nav.case:hover{
    transition: ease-in 0.1s;
    box-shadow: 1px 0px 15px rgba(40,40,40,0.5) inset;
}

nav.case-current{
    display: flex;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    font-family: nav;
    color: rgb(240,230,230);
    cursor: pointer;
    padding: 0 35px 0 35px;
    box-shadow: 1px 0px 15px rgba(40,40,40,0.5) inset;
}

nav.name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    min-width: 200px;
    border-right: 1px solid rgb(30, 30, 30);
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(230,230,230);
    font-size: 1.4em;
    font-family: nav;
}


nav.empty{
    height: 60px;
    width: 200px;
}

@keyframes lateral-nav-translate {
    from {left: -200px;}
    to {left: 0px;}
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

nav.lateral{
    position: fixed;
    width: 200px;
    height: auto;
    top: 60px;
    background-image: url('/assets/img/squairy_light.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 1px 15px grey;
    /* animation-name: lateral-nav-translate; */
    /* animation-timing-function: ease-out; */
    /* animation-duration: .4s; */
}

@media only screen and (max-width: 1200px) {
    nav.lateral{
        opacity: 0;
        z-index: -1;
    }
}

nav.case-lateral{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-family: nav;
    color: rgb(78, 78, 78);
    cursor: pointer;
}

nav.case-lateral:hover{
    transition: ease-in 0.1s;
    box-shadow: 1px 0px 5px rgba(20,20,20,0.01) inset;
}

.separator2000{
    display: inline-block;
    height: 60px;
    border-right: 1px solid rgb(40, 40, 40);
}

.separator2000-horiz{
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgb(180, 180, 180);
}

article.base{
    display: flex;
    min-height: 500px;
    min-width: 850px;
    padding: 10px;
    margin: 0px;
    align-items: center;
    flex-direction: column;
}

footer{
    display: flex;
    margin-top: 50px;
    background-image: url('/assets/img/nav.png');
    height: 70px;
    box-shadow: 1px 1px 15px black;
    justify-content: center;
    align-items: center;
}

img.illustration {
    padding: 1em;
}

a.illustration:hover{
    background-color: rgba(245,245,245,0.9);
}

section.category-title{
    width: 800px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: all;
    color: rgb(70,70,70);
    font-size: 1.4em;
    padding-top: 35px;
    padding-bottom: 20px;
    animation-name: appear;
    animation-timing-function: ease-out;
    animation-duration: .4s;
}

div.categoryLine{
    width: 100%;
    border-top: 3px double rgb(190,190,190);
    margin-left: 10px;
}

img.arrow{
    padding-left: 5px;
}

img.back{
    padding-right: 5px;
}

aside.more{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
    font-family: all;
    color: rgb(70,70,70);
    font-size: 0.9em;
    padding: 0px 10px 0px 10px;
    border: 1px solid rgb(220,220,220);
    cursor: pointer;
}

aside.back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    font-family: all;
    color: rgb(70,70,70);
    font-size: 0.9em;
    border: 1px solid rgb(220,220,220);
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

a.back{
    position: absolute;
    margin-left: 10px;
}
