section.category{
  width: 807px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: all;
  color: rgb(70,70,70);
  font-size: 1.4em;
  padding-top: 35px;
}

div.categoryLine{
  width: 100%;
  border-top: 3px double rgb(190,190,190);
  margin-left: 10px;
}


article.base{
  display: flex;
  min-height: 500px;
  padding: 10px;
  margin: 0px;
  align-items: center;
  flex-direction: column;
}

article.center{
  width: 780px;
  background-color: rgba(245,245,245,0.9);
  padding: 15px;
